In [ ]:
#Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Commonly used libraries 
* Data Science tools
* Arithmetic expression in Python
* Convert minutes to hours

In [ ]:
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. scikit-learn
3. matplotlib
4. Tensorclow
5. seaborn

In [ ]:
| Data Science Tools |
| -------------------|
| Jupiter Notebook   |
| RStudio.           |
| Apache Zeppellin.  |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
#This is a simple arithmetic expression to multiply then add integers.
a = (3*4) + 5
print(a)

In [2]:
#This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

In [ ]:
## Author

Mauro Corbani