# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Commonly used libraries 
* Data Science tools
* Arithmetic expression in Python
* Convert minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. scikit-learn
3. matplotlib
4. Tensorclow
5. seaborn

| Data Science Tools |
| -------------------|
| Jupiter Notebook   |
| RStudio.           |
| Apache Zeppellin.  |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
#This is a simple arithmetic expression to multiply then add integers.
a = (3*4) + 5
print(a)

17

In [3]:
#This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author

Mauro Corbani